<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjli.mapper.NoteinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hjli.model.Noteinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="n_title" property="nTitle" jdbcType="VARCHAR" />
    <result column="n_address" property="nAddress" jdbcType="VARCHAR" />
    <result column="n_noteid" property="nNoteid" jdbcType="VARCHAR" />
    <result column="n_typeid" property="nTypeid" jdbcType="VARCHAR" />
    <result column="n_date" property="nDate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hjli.model.NoteinfoWithBLOBs" extends="BaseResultMap" >
    <result column="n_mdtext" property="nMdtext" jdbcType="LONGVARCHAR" />
    <result column="n_content" property="nContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, n_title, n_address, n_noteid, n_typeid, n_date
  </sql>
  <sql id="Blob_Column_List" >
    n_mdtext, n_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Noteinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Noteinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hjli.model.NoteinfoWithBLOBs" >
    insert into Noteinfo (id, n_title, n_address, 
      n_noteid, n_typeid, n_date, 
      n_mdtext, n_content)
    values (#{id,jdbcType=INTEGER}, #{nTitle,jdbcType=VARCHAR}, #{nAddress,jdbcType=VARCHAR}, 
      #{nNoteid,jdbcType=VARCHAR}, #{nTypeid,jdbcType=VARCHAR}, #{nDate,jdbcType=VARCHAR}, 
      #{nMdtext,jdbcType=LONGVARCHAR}, #{nContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hjli.model.NoteinfoWithBLOBs" >
    insert into Noteinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nTitle != null" >
        n_title,
      </if>
      <if test="nAddress != null" >
        n_address,
      </if>
      <if test="nNoteid != null" >
        n_noteid,
      </if>
      <if test="nTypeid != null" >
        n_typeid,
      </if>
      <if test="nDate != null" >
        n_date,
      </if>
      <if test="nMdtext != null" >
        n_mdtext,
      </if>
      <if test="nContent != null" >
        n_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nTitle != null" >
        #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nAddress != null" >
        #{nAddress,jdbcType=VARCHAR},
      </if>
      <if test="nNoteid != null" >
        #{nNoteid,jdbcType=VARCHAR},
      </if>
      <if test="nTypeid != null" >
        #{nTypeid,jdbcType=VARCHAR},
      </if>
      <if test="nDate != null" >
        #{nDate,jdbcType=VARCHAR},
      </if>
      <if test="nMdtext != null" >
        #{nMdtext,jdbcType=LONGVARCHAR},
      </if>
      <if test="nContent != null" >
        #{nContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjli.model.NoteinfoWithBLOBs" >
    update Noteinfo
    <set >
      <if test="nTitle != null" >
        n_title = #{nTitle,jdbcType=VARCHAR},
      </if>
      <if test="nAddress != null" >
        n_address = #{nAddress,jdbcType=VARCHAR},
      </if>
      <if test="nNoteid != null" >
        n_noteid = #{nNoteid,jdbcType=VARCHAR},
      </if>
      <if test="nTypeid != null" >
        n_typeid = #{nTypeid,jdbcType=VARCHAR},
      </if>
      <if test="nDate != null" >
        n_date = #{nDate,jdbcType=VARCHAR},
      </if>
      <if test="nMdtext != null" >
        n_mdtext = #{nMdtext,jdbcType=LONGVARCHAR},
      </if>
      <if test="nContent != null" >
        n_content = #{nContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hjli.model.NoteinfoWithBLOBs" >
    update Noteinfo
    set n_title = #{nTitle,jdbcType=VARCHAR},
      n_address = #{nAddress,jdbcType=VARCHAR},
      n_noteid = #{nNoteid,jdbcType=VARCHAR},
      n_typeid = #{nTypeid,jdbcType=VARCHAR},
      n_date = #{nDate,jdbcType=VARCHAR},
      n_mdtext = #{nMdtext,jdbcType=LONGVARCHAR},
      n_content = #{nContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjli.model.Noteinfo" >
    update Noteinfo
    set n_title = #{nTitle,jdbcType=VARCHAR},
      n_address = #{nAddress,jdbcType=VARCHAR},
      n_noteid = #{nNoteid,jdbcType=VARCHAR},
      n_typeid = #{nTypeid,jdbcType=VARCHAR},
      n_date = #{nDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义笔记 -->
  <select id="findTwenty" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
  	select <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" /> from Noteinfo  where n_typeid in (select id from typeinfo where t_userid = #{0})
  </select>
  
  <select id="findByTypeId" resultMap="ResultMapWithBLOBs" >
  select <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />  from noteinfo where n_typeid = #{typeid}
  </select>
</mapper>