<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjli.mapper.TypeinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hjli.model.Typeinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_pid" property="tPid" jdbcType="VARCHAR" />
    <result column="t_userid" property="tUserid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, t_name, t_pid, t_userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from typeinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from typeinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hjli.model.Typeinfo" >
    insert into typeinfo (id, t_name, t_pid, 
      t_userid)
    values (#{id,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, #{tPid,jdbcType=VARCHAR}, 
      #{tUserid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hjli.model.Typeinfo" >
    insert into typeinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tPid != null" >
        t_pid,
      </if>
      <if test="tUserid != null" >
        t_userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tPid != null" >
        #{tPid,jdbcType=VARCHAR},
      </if>
      <if test="tUserid != null" >
        #{tUserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjli.model.Typeinfo" >
    update typeinfo
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tPid != null" >
        t_pid = #{tPid,jdbcType=VARCHAR},
      </if>
      <if test="tUserid != null" >
        t_userid = #{tUserid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjli.model.Typeinfo" >
    update typeinfo
    set t_name = #{tName,jdbcType=VARCHAR},
      t_pid = #{tPid,jdbcType=VARCHAR},
      t_userid = #{tUserid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义语句 -->
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from typeinfo where t_userid = #{0}
  </select>
  
<select id="findMaxId" resultType="java.lang.Integer">
	select  max(id) from typeinfo
</select>
</mapper>